CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

/thirdparty*/

/.vs/
/.vscode/
/.idea/
CMakeSettings.json
*.sln
*.vcxproj*
*.vcxitems
*.user
*.suo
*.code-workspace

/build*/
/out*/
/bin*/
/Release/
/Debug/
/x64/
/x86/
*.exe
*.out
*.app
*.so
*.dll
*.dylib
*.a
*.lib
*.obj
*.o
*.ilk
*.pdb
*.ipch
*.sdf
*.idb
*.exp
*.manifest